.container {
    position: absolute;
    width: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    background-color: white;
    display: flex;
    border: 1px solid #222;
    justify-content: space-between;

    .leftSideContent {
        width: 30%;
        margin-left: 100px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        

        .logo {
            width: 70%;
            height: 50px;
            border: 1px solid #000;
            justify-self: center;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            background-color: #eee;
            color: #555;
        }

        .menuBar {
            width: 80%;
            height: 400px;
            background-color: #999;
            border: 1px solid #333;
            transition: all 500ms ease-in;

            ul {
                list-style: none;
                width: 100%;
                overflow: hidden;
                padding: 0;
                margin: 0;

                li {
                    width: 100%;
                    text-align: center;
                    padding: 10px 0;
                    font-size: 20px;
                    border: 1px solid #777;
                    cursor: pointer;
                    transition: all 500ms ease;

                    &:hover {
                        background-color: #aaa;
                    }
                }
            }

            
        }

        .greyMode {
            width: 80%;
            height: 400px;
            background-color: #eee;
            border: 1px solid #333;
            transition: all 500ms ease-out;

            ul {
                list-style: none;
                width: 100%;
                overflow: hidden;
                padding: 0;
                margin: 0;

                li {
                    width: 100%;
                    text-align: center;
                    padding: 10px 0;
                    font-size: 20px;
                    border: 1px solid #777;
                    cursor: pointer;
                    transition: all 500ms ease;

                    &:hover {
                        background-color: #999;
                    }
                }
            }

            
        }
    }

    .rightSideContent {
        width: auto;
        padding: 10px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: left;
        flex-direction: column;
        margin-top: 50px;
        margin-right: 100px;

        label {
            margin: 5px 0;
        }
    }
}